.row {
    padding: 30px;
    background-color:#f3fdfd;
}
.contenedor {
    width:auto;
}
.parte1, .parte2 { 
    display:inline-block;
    text-align: justify;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.img-proyecto{
    box-shadow: 10px 10px 35px #000000;
}