<div class="row">
    <h1> Educación </h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
      <ul>
        <li>
          <h1>Curso: Introducción a la programación en Python 2022"</h1>
          <h3> (Año:2022)</h3>
          <p>En Curso.Organizado por la Facultad de Matemática, Astronomía, Física y Computación. Universidad Nacional de Córdoba</p>
        <li>
          <h1>Educación Universitaria</h1>
          <h3> (Año:2021)</h3>
          <p>Licenciatura en Sistema en Información: Estudiante de la Facultad Ciencias Exactas y Naturales y Agrimensura (UNNE)</p>
        </li>
        <li>
          <h1>Educación Universitaria</h1>
          <h3> (Año:2021)</h3>
          <p>Licenciatura en Sistema en Información: Estudiante de la Facultad Ciencias Exactas y Naturales y Agrimensura (UNNE)</p>
        </li>
        <li>
          <h1>Educación Universitaria</h1>
          <h3> (Año:2018)</h3>
          <p>Profesora en Matemática, egresada de la Facultad Ciencias Exactas y Naturales y Agrimensura (UNNE)</p>
        </li>
    </ul>        
    </div>
    <h1>Capacitación en Matemática</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
      <ul>
        <li>
          <h1>"Enseñanza de la Matemática"</h1>
          <h3> (Año:2021)</h3>
          <p>Curso virtual. Portítulo. Carga horaria 200hs. Organizado por Instituto Superior de Formación Docente "Caá Catí" - Corrientes.</p>
        </li>
        <li>
          <h1>Bioestadística II: Números para pensar</h1>
          <h3> (Año:2021)</h3>
          <p>Curso virtual. Carga horaria 110hs. Organizado por Dirección de Ciencia y Tecnología - CAPITAL</p>
        </li>
        <li>
          <h1>DimensionesS Didácticas de la educación estadística</h1>
          <h3> (Año:2020)</h3>
          <p>Curso virtual. Postitulo. Carga horaria 30hs. Organizado por Universidad nacional de Rosario, Facultad de ciencias exactas, ingeniería y agrimensura.</p>
        </li>
        <li>
          <h1>Diplomatura superior en enseñanza de la matemática en el nivel medio</h1>
          <h3> (Año:2019)</h3>
          <p>Curso presencial. Portítulo. Carga horaria 128hs. Organizado por Universidad Nacional de Nordeste, Facultad de ciencias exactas y naturales y agrimensura. Corrientes.</p>
        </li>
    </ul>  
    </div>
    <h1>Capacitación en Informática-Programación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
      <ul>
        <li>
          <h1> React Básico (Start Coding)</h1>
          <h3> (Año:2022)</h3>
          <p>Curso virtual. Carga horaria 40hs. Certifica: El laboratorio de innovación e inteligencia artificial de la Facultad de Derecho de la UBA</p>
        </li>
        <li>
          <h1> JavaScipt (Start Coding)</h1>
          <h3> (Año:2022)</h3>
          <p>Curso virtual. Carga horaria 25hs. Certifica: El laboratorio de innovación e inteligencia artificial de la Facultad de Derecho de la UBA</p>
        </li>
        <li>
          <h1> Argentina Programa_#Sé Programar</h1>
          <h3> (Año:2021)</h3>
          <p>Curso virtual. Carga horaria aproximada de 60hs. Organizado por Ministerio de Desarrollo Productivo de la Republica Argentina y Cessi Argentina.</p>
        </li>
        <li>
        <li>
          <h1> La programación y su didáctica 1 </h1>
          <h3> (Año:2021)</h3>
          <p>Curso virtual. Carga horaria 100hs. Organizado por Program.AR de la Fundación Sadosky y la Universidad Nacional del Nordeste: Facultad Ciencias Exactas y Naturales y Agrimensura (UNNE)</p>
        </li>
        <li>
          <h1>La infografia como recurso didáctico</h1>
          <h3> (Año:2021)</h3>
          <p>Curso virtual. Carga horaria 40hs. Organizado por Universidad Nacional de Nordeste, Facultad de ciencias exactas y naturales y agrimensura. Corrientes.</p>
        </li>
        <li>
          <h1>Introducción a la programación con Scratch (B)</h1>
          <h3> (Año:2020)</h3>
          <p>Curso virtual. Carga horaria 61hs. Organizado por Instituto Superior de Formación Docente "Caá Catí" - Corrientes.</p>
        </li>
        <li>
          <h1>Diseño Gráfico</h1>
          <h3> (Año:2020)</h3>
          <p>Curso virtual. Carga horaria 18hs. Organizado por Instituto de capacitación profesional Estética y Diseño - Corrientes.</p>
        </li>
        <li>
          <h1>Búsqueda y evaluación de información en intenet</h1>
          <h3> (Año:2019)</h3>
          <p>Curso semipresencial.Carga horaria 61Hs. Organizado porr Dirección de Nivel Superior - Corrientes-Capital.</p>
        </li>
    </ul>  
    </div>
  </div>
  
  
