<div class="row">
  <h1>Proyectos Realizados</h1>
  <div class="contenedor">
    <div class="col-sm-12 col-md-7 col-lg-7 parte1">
      <h2>Proyecto Integrador Argentina Programa</h2>
      <p>
        <br />
        Este proyecto tiene como objetivo, crear mi portfolio web. Esta
        aplicación tiene una arquitectura distribuida, la cual contiene un
        diseño de interface (front end) que muestre la información, una base de
        datos que almacene los datos que se consideren necesario compartir,
        ademas, cuenta con las APIs necesarias para proveer a través de internet
        la información (back end). En resumen, este proyecto requiere de la
        aplicacion de los conocimientos prendido durante el curso de Argentina
        Programa #Yo programo y el mismo a su vez puede ser usardo como mi primer carta de
        presentación en el mercado laboral.
      </p>
    </div>
    <div>
      <img
        class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2"
        src="../../../assets/Banner.png"
        class="img-fluid img-proyecto"
      />
    </div>
  </div>
</div>
