<div class="row">
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <img
      src="../../../assets/foto perfil.png"
      class="img-fluid"
      id="fotodeperfil"
    />
  </div>
  <div class="col-xs-12 col-xs-2 col-md-2 col-lg-2">
    <p id="nombre">Espindola Luz Eliana</p>
    <p id="developer">Full Stack Developer Jr</p>
  </div>
  <div class="col-xs-12 col-xs-8 col-md-8 col-lg-8">
    <span>
      <h1>Acerca de mi...</h1>
      <p>
        Hola a todos, quería contarles como empecé a incursionar en el mundo de
        la tecnología, para más tarde centrarme en la programación. <br> Soy
        profesora de matemática, actualmente trabajo en una escuela técnica de
        nivel secundario, dando clases de matemática y en un instituto terciario
        dictando clases de física. <br> Cuando llegó la pandemia, me desempeñaba como
        docente en el nivel universitario y secundario, a estas altura, no es
        una novedad que las clases comenzaron a desarrollarse de forma virtual,
        debido a esta situación muchos docentes, nos empezamos a capacitar un
        poco más en el área de informática. Al trabajar en una escuela técnica y
        desarrollar anualmente proyectos interdisciplinarios decidí realizar
        cursos relacionados con la programación y su didáctica, como así también
        iniciar “Yo Programo”. La programación me genero curiosidad a tal punto
        que decidí iniciar la Carrera de Licenciatura en Sistema de la
        Información, la cual actualmente estoy cursando, además estoy en la
        última etapa del curso "Se programar". Lo aprendido podrán ver en este
        porfolio, espero le guste.
      </p>
    </span>
  </div>
</div>
