<div class="row">
  <h1>Experiencia Laboral</h1>
  <div class="col-lg-1"></div>
  <div class="col-lg-11">
    <ul>
      <br>
      <li>
        <h1>Instituto Privado San Jose I 2</h1>
        <h3> (Período:1/6/2019 al 12/7/2019)</h3><br>
        <h2>Tareas desempeñadas</h2> 
        <ul>
          <li>
            <p>Profesora de matemática del ciclo básico y ciclo orientado.</p>
          </li>
        </ul>
      </li>

      <li>
        <h1>Colegio Secundario Dr Federico Leloir </h1>
        <h3> (Período:25/09/2019 al 30/6/2021)</h3><br>
       <h2>Tareas desempeñadas</h2>
        <ul>
          <li><p>Profesora de matemática del ciclo básico.</p></li>
          <li>
            <p>Profesora de matemática del ciclo básico y ciclo orientado, clases de apoyo.</p>
          </li>
          <li>
            <p>Clases de apoyo - Talleres.</p>
          </li>
          <li><p>Organización de actos.</p></li>
          <li><p>Recaudación de fondos.</p></li>
          <li>
            <p>
              De forma colaborativa con docentes de la institución y utilizando herramientas de Google,
              elaboramos la página del área de matemática, durante la pandemia.
            </p>
          </li>
          <li>
            <p>
              Elaboración de material didáctico para aula virtual, edición de
              videos, formularios de google, etc.
            </p>
          </li>
        </ul>
      </li>
      <li>
        <h1> Universidad de la Cuenca del Plata </h1>
        <h3> (Período:3/03/2020 al 30/6/2020)</h3><br>
       <h2>Tareas desempeñadas</h2>
        <ul>
          <li><p>Dictado de clases teóricas y practicas, en carácter de adscripta.</p></li>
          <li>
            <p> Tutorias</p>
          </li>
          <li>
            <p>Elaboración de material didáctico, guía de trabajos practicos.</p>
          </li>
          <li>
            <p>Elaboración de trabajo de adscripción.</p>
          </li>
          <li>
            <p>Trabajo en equipo.</p>
          </li>
        </ul>
      </li>
      <li>
        <h1>Escuela Técnica Construcciones Portuarias y Vías Navegables</h1> 
        <h3> (Período:9/03/2021 hasta la actualidad)</h3><br>
        <h2>Tareas desempeñadas</h2>
        <ul>
          <li><p>Profesora de matemática, ciclo básico.</p></li>
          <li><p>Organización de actos.</p></li>
          <li>
            <p>
              Colaboración en el despliegue de la semana de la educación técnica.
            </p>
          </li>
        </ul>
      </li>
      
      <li>
        <h1>Instituto Superior Carmen Molina de Llano</h1> 
        <h3> (Período:10/09/2021 hasta la actualidad)</h3> <br>
        <h2>Tareas desempeñadas</h2>
        <ul>
          <li>
            <p>
              Profesora de Física, en la carrera de la Tecnicatura en
              Bromatología.
            </p>
          </li>
          <li><p>Organización de acto Acádemico.</p></li>
          <li>
            <p>
              Dictado de curso institucional, presencial y virtual, como parte
              de proyecto interdisciplinario-contracuatrimestral.
            </p>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
